*{
    box-sizing: border-box;
    margin:0px;
    padding:0px;
}

body{
    padding:10px;
}

.main-container{
    display: flex;
    flex-direction: row;
    overflow: auto;
}

/* .header-section{
    border-right:2px solid grey;
} */

.header{
    display: flex;
}

.header-style{
    border: 1px solid grey;
    width:80px;
    height:30px;
    display: flex;
    align-items: center;
    padding-left: 5px;
    background-color: #F2F3F2;
}

.calendar-style{
    border: 1px solid grey;
}

.days-section{
    display: flex;
}

/* ახლად შექმნილი დივების სტილები */

/* თვის რიცხვების სტილები */
.row-class{
    display: flex;
}

.box-class{
    border: 1px solid grey;
    width:80px;
    height:30px;
    display: flex;
    align-items: center;
    padding-left: 5px;
    background-color: #F2F3F2;
}

/* თვის დღეების და საათების სტილები */

.date-Hour-Style{
    width: 80px;
    border: 1px solid grey;
    height: 45px;
    background-color: #F0FFF0;
    display: flex;
    align-items: center;
    padding-left: 5px;
}

.day-Style{
    width: 80px;
    border: 1px solid black;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    position:relative;
}

.day-Style-color{
    background-color: #FFA07A;
}

.style-weekend-window{
    position:absolute;
    width:60px;
    height:40px;
    border:none;
    font-size: 10px;
    background-color: black;
    color:white;
    top:-22px;
    left:58px;
    z-index: 2;
    display: flex;
    align-items: center;
    text-align: center;
}